
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #hero-section {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__section__image{
      width: 100%;
  }
  .hero__section__row{
      align-items: center;
      padding: 100px 0;
  }